
html:focus-within {
    overscroll-behavior : smooth;
}
body {
    margin : 0;
    overflow : hidden;
    overscroll-behavior : auto;
    font-family: Arial;
}

.menu {
    position: absolute;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.6);
    border: 1vmin rgb(0, 0, 0) solid;
    /* text-align: center; */
    /* padding: 5vmin;
    border: 1vmin rgba(0, 0, 0, 0.6) solid; */
    /* font-size: 7vmin; */
}

.contenido{
    height: 100%;
}
.contenido2{
    bottom: 39%;
    position: absolute;
    padding-left: 5vmin;
    padding-right: 5vmin;
}
.footer{
  text-align: center;
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.nickname{
    font: normal normal bold 18px/normal "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    border-radius: 2vmin;
}
.enlace{
    font-size: 1vmin;
}
.dimension{
    width:50%;
    height:90%;
    font-size: 4vmin;
    border-radius: 1vmin;
    text-align: center;
}
.btn-start{
    font-size: 3vmin;
    background: rgb(37, 96, 224);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 2vmin;
}

/* button {
    font-size: 7vmin;
    background: rgb(37, 96, 224);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 4vmin;
} */


button:hover {
    background: rgb(255, 0, 0);
    color: rgb(253, 253, 253);
}

button:disabled {
    background: lightgray;
    color: gray;
    cursor: default;
}

select {
    font-size: 7vmin;
    cursor: pointer;
    border: none;
    border-radius: 1vmin;
    outline: none;
}

#time {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#jugadores {
    position: absolute;
    top: 50%;
    right: 10%;
}

#scoresContainer {
    height: 43vh;
    overflow: auto;
}

#helperCanvas {
    margin-top: -210px;
    width: 28%;
    margin-left: -63px;
}
.cambiar-derecha{
    background: rgb(0, 255, 76);
    color: rgb(253, 253, 253);
    margin-right: -80px;
  height: 100%;
  position: absolute;
}
.cambiar-izquierda{
    background: rgb(0, 255, 76);
    color: rgb(253, 253, 253);
    margin-left: -80px;
    height: 100%;
    position: absolute;
}